body{
    background-color: black;
    margin-top: 5%;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    border: 3px solid;
    border-color: #fff;
}
.text{
    color: #fff;
}
.paragraph1  {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin: -40px;
    font-weight: bold;
}
.paragraph2 {
    font-size: 1rem;
    margin: -40px;
    display: flex;
    justify-content: center;
}
